<style>
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
</style>
<h1>今日のご飯は</h1>
<div class = "meal poyoyon3"><%= @roulette_items[rand(0...@roulette_items.size)].name %></div>
<p>に決まり！！！</p>