// Place all the styles related to the kondate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
	color: olive;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	font-size: 7em;
}

body {	
	background-color: #FFFFFB;
	text-align: center;
}

.meal{
	text-align: center;
	color: olive;
	font-size: 8em;
}

p {
	font-size: 4em;
}